body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2ecc71; /* Light background color */
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    overflow-x: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#container {
    background-color: #ffffff; /* White container background */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    color: #2c3e50;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    margin: 20px;
}

header {
    margin-bottom: 20px;
    animation: slideInDown 1s ease-in-out;
}

@keyframes slideInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header h1 {
    font-size: 2.5em;
    color: #3498db; /* Accent color for headings */
}

header h2 {
    font-size: 1.4em;
    color: #2ecc71; /* Accent color for subheadings */
}

section {
    margin-top: 20px;
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2, h3 {
    color: #3498db;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
    display: none;
    animation: fadeInUp 1s ease-in-out;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

button {
    padding: 15px 30px;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

#connect {
    background-color: #3498db;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#connect:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

[data-aos] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

[data-aos="fade-up"] {
    transform: translateY(30px);
}

[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
}

[data-aos].aos-animate {
    opacity: 1;
}
